:root {
  --white: #fff;
  --offWhite: #fffbf3;
  --black: #000000;
  --yellow: #fff066;
  --yellowDark: #ffd600;
}

body {
  font-family: 'Inconsolata',  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
